<%= form_with(model: message) do |form| %>
  <% if message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
        <% message.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= current_user.id %><br/>
    <%= current_user.username %><br/>
    <%= form.text_field :username, class:"form-control", placeholder:"type your username here" %>
  </div>
  <br/>
  <div class="field">
    <%= form.text_field :religion, class:"form-control", placeholder:"Type your religion here" %>
  </div>
  <br/>
  <div class="field">
    <%= form.text_field :blog, class:"form-control", placeholder:"Type your post here" %>
  </div>
  <br/>
  <div class="field form-group">
    <%= form.text_field :user_id, id: :peer_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
  <hr/>
<% end %>
