<p id="notice"><%= notice %></p>

<h1 class="text-center">Messages</h1>

<table class="table table-dark table-striped table-bordered">

  <div>
    <% @messages.each do |message| %>
      <div class="card">
        <h5 class="card-header"><%= message.username %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= message.user_id %></h5>
          <p class="card-text"><%= message.blog %></p>
          <%= link_to 'Show', message %>
          <%= link_to 'Edit', edit_message_path(message) %>
          <%= link_to 'Destroy', message, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
    <% end %>
  </div>
</table>

<br>

<%= link_to 'New Message', new_message_path %>
