<p id="notice"><%= notice %></p>

<h1 class="text-center">Your Messages</h1>

<table class="table table-dark table-striped table-bordered">

  <ul>
    <% @blog.each do |message| %>
      <% if current_user.id == message.user_id %>
      <li class="card">
        <h5 class="card-header"><%= message.username %></h5>
        <div class="card-body">
          <h5 class="card-title"><%= message.user_id %></h5>
          <p class="card-text"><%= message.blog %></p>
          <%= link_to 'Show', message %>
        </div>
      </li>
      <% end %>
    <% end %>
  </ul>
</table>
