<h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>
<hr/>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <!-- Fix this issue with current_user.usename -->
  <div class="form-group">
    <%= current_user.id %><br/>
    <%= current_user.username %><br/>
    <%= f.text_field :username, class:"form-control" %>
  </div>

  <br/>
  <div class="form-group">
    <%= f.text_field :religion, class:"form-control" %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.email_field :email, autofocus: true, class:"form-control", autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
  
  <br/>
  <div class="form-group">
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder:"Password (leave blank if you don't want to change it)" %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.password_field :password_confirmation, class:"form-control", autocomplete: "new-password", placeholder:"New Password" %>
  </div>
  <br/>
  <div class="form-group">
    <%= f.password_field :current_password, class:"form-control", autocomplete: "current-password", placeholder:"Current Password (we need your current password to confirm your changes)" %>
  </div>
  <br/>
  <div class="actions">
    <%= f.submit "Update", class:"btn btn-primary" %>
  </div>
<% end %>
<hr/>

<div class="card">
  <h3 class="card-header">Cancel my account</h3>
  <div class="card-body">
    <p class="card-text">Unhappy with your account? <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class:"btn btn-danger" %></p>
    <%= link_to "Back", :back, class:"btn btn-secondary text-white" %>
  </div>
</div>
<hr/>