<%= form_with(model: peer) do |form| %>
  <% if peer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(peer.errors.count, "error") %> prohibited this peer from being saved:</h2>

      <ul>
        <% peer.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.text_field :username, placeholder: "Username", class:"form-control" %>
  </div><br/>
  
  <div class="field">
    <%= form.text_field :email, placeholder: "Email", class:"form-control" %>
  </div><br/>

  <div class="field">
    <%= form.text_field :religion, placeholder: "Religion", class:"form-control" %>
  </div><br/>

  <div class="field form-group">
    <%= form.number_field :user_id, id: :peer_user_id, class:"form-control", value:current_user.id, type: :hidden %>
  </div><br/>

  <div class="actions">
    <%= form.submit class:"btn btn-primary" %>
  </div>
<% end %>
