<p id="notice"><%= notice %></p>
<h1 class="text-center">Peers</h1>

<table class="table table-dark table-striped table-bordered">
  <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Religion</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @peers.each do |peer| %>
      <% if current_user.id == peer.user_id %>
      <tr>
        <td><%= peer.username %></td>
        <td><%= peer.email %></td>
        <td><%= peer.religion %></td>
        <td><%= link_to 'Show', peer, class:"text-light" %></td>
      </tr>
      <%end%>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Peer', new_peer_path, class:"btn btn-primary text-light" %>

<%= link_to 'Back', '/', class:"btn btn-secondary text-white" %>
